# Ambiente Virtual do Python
venv/
.venv/

# Arquivos compilados do Python
__pycache__/
*.pyc

# Arquivos de Dados (NÃO envie dados para o GitHub)
*.csv
*.json
*.jsonl

# Arquivos do Scrapy
.scrapy/

# IDEs e sistema
.vscode/
.idea/
.DS_Store